<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
  
  <mat-toolbar color="primary" class="navbar">
    <span><b>Search app</b></span>
    <span routerLink="simple-search"> Simple search </span>
    <span routerLink="boolean-search"> Boolean search </span>
    <span routerLink="advanced-search"> Advanced search </span>
    <span routerLink="geo-search"> Geo search </span>
    <span routerLink="statistics"> Statistics </span>
  </mat-toolbar>


  <router-outlet></router-outlet>
</body>