<div>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <h1 style="margin-right: 5rem;">Simple search</h1>
        </mat-grid-tile>
        <mat-grid-tile>
            <form [formGroup]="searchForm" (ngSubmit)="submit()">
                <mat-form-field style="margin-left: 3rem;" appearance="fill">
                    <mat-label>Choose field</mat-label>
                    <mat-select formControlName="field">
                        <mat-option value="firstName">first name</mat-option>
                        <mat-option value="lastName">last name</mat-option>
                        <mat-option value="education">education</mat-option>
                        <mat-option value="cvText">CV</mat-option>
                        <mat-option value="coverLetterText">cover letter</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="margin-left: 3rem;" appearance="fill">
                    <mat-label>Enter value</mat-label>
                    <input matInput formControlName="text">
                </mat-form-field>
                <button type="submit" style="margin-left: 3rem;" appearance="fill" mat-raised-button color="primary">Search</button>
            </form>
            
        </mat-grid-tile>
        <div *ngFor="let searchResult of searchResults">
            <mat-grid-tile>
                <app-search-result [searchResult]="searchResult" 
                style="width: 43%; margin-left: 4rem;"></app-search-result>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>
